<!--
<!DOCTYPE html>
<html lang="en">
<img src="{{url_for('static', filename='crow.png')}}"align='left'width=100 height=50>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cluster_version.css')}}" media = 'all'/>
</head>
<h1>CROW</h1>  
-->
<!doctype html>
<html lang="en">
  <head>
<!--    <img src="{{url_for('static', filename='crow.png')}}"align='left'width=100 height=50>-->
    <link rel="stylesheet" href="{{url_for('static', filename='cluster_version.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CROW clerical tool</title>
  </head>
  <body> 
    <main>
      <div class = 'top'>
        <div class = 'top-image'>
          <img src="{{url_for('static', filename='logo.PNG')}}"align='right'width=240 height=100>
        </div>     
      </div>
      <div class = 'container'>
        <div class = 'middle'>
          <div class = 'centered'>
            <div style="overflow-x:auto;" style="overflow-y:auto;">
            <form action='#' method="POST" class = centered>  
              <div class = 'box'>
                <box>{{display_message}}</box>
              </div>  
              <h2>Cluster count {{cluster_number}}/{{num_clusters}}</h2>
              <h2>{{done_message}}</h2>

              <table class = 'table' cellspacing = '0' table-bordered>

                <tr class = 'table__header'>

                <th class = 'table__cell'></th>

                {% for i in columns %} 

                <th class = 'table__cell'>{{i}}</th> 
                {% endfor %}  
                </tr>

                {% for row in data %}

                <tr class = 'table__row'> 
                <td>
                  <input type="checkbox" name="cluster" value= {{row[id_col_index]}} >
                  <label class="form-check-label" for="inlineCheckbox1"> &nbsp;</label>
                </td>  
                  {% for cell in row %}


                    <td class = 'table__cell'>{{cell}} </td>

                  {% endfor %}

                </tr>
                {% endfor %}
                </tr>    

              </table>
              <br>
              <div class = "submit-toolbar">
                <input type="submit" id="Match" name="Match" value="Match">
                <label for="Match">Match</label>
                <input type="submit" id="Non-Match" name="Non-Match" value="Non-Match"> 
                <label for="Non-Match">Non-Match</label>
              </div>
              <br>
              <br> 
              <p>Highlight Differences</p> 
              {% if highlight == "Highlight differences" %}
              <label class="switch">
                <input type="checkbox" name = "highlight_differences" value = "Highlight differences" onChange="this.form.submit()" checked>
                <span class="slider round" ></span>
              </label>  
              {% else %}  
              <label class="switch">
                <input type="checkbox" name = "highlight_differences" value = "Highlight differences" onChange="this.form.submit()">
                <span class="slider round" ></span>
              </label>    
              {% endif %}
              <br>
              <br>  
<!--              </form>  -->
<!--              <form action='#' method='POST' class = 'centered'>-->
              <div class = "submit-toolbar">
                <input type="submit" id = 'back' name="back" value="back">
                <label for="back">Back</label>
                <input type="submit" id = 'save' name="save" value="save">
                <label for="save">Save</label>
              </div>
<!--              </form>  -->
              <div class="form-check">
                  </label>
            </form>  
          </div>          
        </div>
      </div>
      <div class = 'bottom'>
        <div class = 'bottom-image'>
          <p> </p>
        </div>
      </div>
    </main>
  </body>  
    
<!--
<div style="overflow-x:auto;" style="overflow-y:auto;">
<form action='#' method="POST">  

<div class = 'box'>
<box>{{display_message}}</box>
</div>  
<h2>Cluster count {{cluster_number}}/{{num_clusters}}</h2>
<h2>{{done_message}}</h2>
  
<table class = 'table' cellspacing = '0' table-bordered>

<tr class = 'table__header'>
  
<th class = 'table__cell'></th>
  
{% for i in columns %} 

<th class = 'table__cell'>{{i}}</th> 
{% endfor %}  
</tr>

{% for row in data %}

<tr class = 'table__row'> 
<td>
    <input type="checkbox" name="cluster" value= {{row[id_col_index]}} >
    <label class="form-check-label" for="inlineCheckbox1"> &nbsp;</label>
</td>  
   {% for cell in row %}
 
    
    <td class = 'table__cell'>{{cell}} </td>

   {% endfor %}

</tr>
{% endfor %}
</tr>    

</table>

</div>
<br>
    <input type="submit" name="Match" value="Match">

    <input type="submit" name="Non-Match" value="Non-Match">
  
    <input type="submit" name="Clear-Cluster" value="Clear-Cluster">
<br>
<br> 
<p>Highligh Differences</p> 
{% if highlight == "Highlight differences" %}
<label class="switch">
  <input type="checkbox" name = "highlight_differences" value = "Highlight differences" onChange="this.form.submit()" checked>
  <span class="slider round" ></span>
</label>  
{% else %}  
<label class="switch">
  <input type="checkbox" name = "highlight_differences" value = "Highlight differences" onChange="this.form.submit()">
  <span class="slider round" ></span>
</label>    
{% endif %}
<br>
<br>  
</form>
<br>
<br>   
<form action='#' method='POST'>
    <input type="submit" name="back" value="back">
    <input type="submit" name="save" value="save">
</form>  

<div class="form-check">
    </label>
  
</form>
</body>
-->
</html>

