<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='welcome_page.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title >CROW clerical tool</title>
  </head>
  <body>
    <main>
      <div class = 'container'>
        <div class='left'>
          <div class = 'centered'>
            <img src="{{url_for('static', filename='logo.PNG')}}"align='center'width=400 height=150>
            <br>
            <body>
              <form method = 'post'>
                  
                    <div class='submit-toolbar'>
                    <input type='submit' id = 'new' name = 'new' formaction = '/new_session'>
                    <label style = {{font_choice}} for="new">New session</label>
                    <br>
                    <br>
  <!--
                    <input type='submit' id = 'load' name = 'load' formaction = '/load_session'>
                    <label for="load">Load session</label>
                    <br>
                    <br>
  -->
                    <input type='submit' id = 'help' name = 'help' formaction = '/about_page'>
                    <label style = {{font_choice}} for="help">Crow help</label>
                </div>
            </form>
          </body>
        </div>
      </div>

      <div class='right'>
        <div class="font" style="float:right;" >
            <label for="fontFamilySelect" class="form-label" align='center'><h3 style="color: white">Choose your font</h3></label>
            <form action = '#' method = 'post'>
            <select name = 'font_choice' class="form-select" id="fontFamilySelect" onchange="this.form.submit()">
                <option value="">Select</option>
                <option disabled style="font-weight: bold; background-color: #EEEEEE">Serif Fonts</option>
                <option name = 'font_choice' value="Georgia,serif" style="font-family: Georgia,serif">Georgia</option>
                <option name = 'font_choice' value="Palatino Linotype,Book Antiqua,Palatino,serif" style="font-family: Palatino Linotype,Book Antiqua,Palatino,serif">Palatino Linotype</option>
                <option name = 'font_choice' value="Times New Roman,Times,serif" style="font-family: Times New Roman,Times,serif">Times New Roman</option>
                <option disabled style="font-weight: bold; background-color: #EEEEEE">Sans-Serif Fonts</option>
                <option name = 'font_choice' value="Arial,Helvetica,sans-serif" style="font-family: Arial,Helvetica,sans-serif">Arial</option>
                <option name = 'font_choice' value="Arial Black,Gadget,sans-serif" style="font-family: Arial Black,Gadget,sans-serif">Arial Black</option>
                <option name = 'font_choice' value="Comic Sans MS,cursive,sans-serif" style="font-family: Comic Sans MS,cursive,sans-serif">Comic Sans MS</option>
                <option name = 'font_choice' value="Impact,Charcoal,sans-serif" style="font-family: Impact,Charcoal,sans-serif">Impact</option>
                <option name = 'font_choice' value="Lucida Sans Unicode,Lucida Grande,sans-serif" style="font-family: Lucida Sans Unicode,Lucida Grande,sans-serif">Lucida Sans Unicode</option>
                <option name = 'font_choice' selected="selected" value="Tahoma,Geneva,sans-serif" style="font-family: Tahoma,Geneva,sans-serif">Tahoma</option>
                <option name = 'font_choice' value="Trebuchet MS,Helvetica,sans-serif" style="font-family: Trebuchet MS,Helvetica,sans-serif">Trebuchet MS</option>
                <option name = 'font_choice' value="Verdana,Geneva,sans-serif" style="font-family: Verdana,Geneva,sans-serif">Verdana</option>
                <option disabled style="font-weight: bold; background-color: #EEEEEE">Monospace Fonts</option>
                <option name = 'font_choice' value="Courier New,Courier,monospace" style="font-family: Courier New,Courier,monospace">Courier New</option>
                <option name = 'font_choice' value="Lucida Console,Monaco,monospace" style="font-family: Lucida Console,Monaco,monospace">Lucida Console</option>
            </select>
            </form>
          </div>
          <div class = 'right-centre'>
              <h1 style = {{font_choice}}>Welcome to CROW</h1>
              <h2 style = {{font_choice}}> An app to meet all your clerical needs </h2>
          </div>
<!--          <img src="{{url_for('static', filename='crow2.jpg')}}"align='right'> -->
        </div> 
      </div>
    </main>
  </body>
          
</html>
