body {
    background-color: slategray;
    text-align: center;
}
h1 {
  color: limegreen;
  font: cursive
  size: 5em;  
  margin: 20px;

}

h2 {
  color: limegreen;
  font: cursive
  size: 5em;  
  margin: 20px;

}

p{
  color: white;
  font: monospace
  size: 2.5em;  
}

input{
  border-radius: 10px;
  width: 300px;
  height: 25px;
  border: none;
  font: shanti;
  font-size: 1.3em;
}


div{
  white-space: nowrap;
}