<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IDA User Interface</title>
        <link rel="stylesheet" href="{{
        url_for('static', filename='main.css')}}">
        <meta charset="UTF-8">
        <img src="{{url_for('static', filename='ons.png')}}"align='left'width=200 height=50>
        <title>IDA User Interface</title>
        <br>
        <br>
        <h1>IDA User Interface</h1>
        <br>
        <br>

    </head>
    <body>
      <h2>The change was made successfully!</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <form action = '/' method = 'post'>
          <input type = 'submit' value = 'Home Page'>
      </form>               
    </body>  
</html>
